<!DOCTYPE html>
<html>
<head>
	 <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title> Penn Connect </title>
  <meta name="description" content="Rahul Shekhar">
  <meta name="author" content="Rahul Shekhar">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type = "text/css" href="static/home.css">

</head>

<body>
	<br>
	<br>
	<br>
	<br>
	<div class = "row">
			<div class = "col-md-4 col-md-offset-4" id = "title">
				Welcome to 
			</div>
	</div>
	<div class = "row">
			<div class = "col-md-4 col-md-offset-5" id = "title2">
				PennConnect!
			</div>
	</div>
  <br>
  <div class = "row">
    <div class = "col-md-4 col-md-offset-5" id = "form">
      <p> <strong> <%= homepage.text %> </strong> </p>
      <form method = "post">
  		  <p>Email<br>
  		  <input type="text" name="username" size ="30"></p>
  		  <p>Password<br>
  		  <input type="password" name="password" size = "30"></p>
        <div class = "col-md-offset-2">
  		  <p><input type="submit" value = "Log In"> </p>
        </div>
  		  <p> Don't have an account? <a href = '/register'>Register</a></p>
  	  </form>
    </div>
  </div>
</body>
</html>