<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
  <title> Penn Connect </title>
  <meta name="description" content="Rahul Shekhar">
  <meta name="author" content="Rahul Shekhar">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata|Slabo+27px|Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Inconsolata|Slabo+27px|Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Inconsolata|Pacifico|Slabo+27px|Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Inconsolata|Indie+Flower|Pacifico|Shadows+Into+Light|Slabo+27px|Source+Sans+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya|Gloria+Hallelujah" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type = "text/css" href="static/register.css">

</head>
<body>

<div class="container">
    <h1 class="well">Make Your Account!</h1>
	<div class="col-lg-12 well">
	<div class="row">
				<form method = "post">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>First Name</label>
								<input type="text" name = "firstname" placeholder="Enter First Name Here.." class="form-control">
							</div>
							<div class="col-sm-6 form-group">
								<label>Last Name</label>
								<input type="text" name = "lastname" placeholder="Enter Last Name Here.." class="form-control">
							</div>
						</div>	
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Email</label>
								<input type="text" name = "username" placeholder="Enter Penn Email Here.." class="form-control">
							</div>	
							<div class="col-sm-4 form-group">
								<label>Password	</label>
								<input type="password" name = "password" placeholder="Enter Password Here.." class="form-control">
							</div>		
						</div>				
					<button type="submit" class="btn btn-lg btn-info">Submit</button>					
					</div>
				</form> 
				</div>
	</div>
	</div>

</body>
</html>