input[type ="submit"] {
    border-radius: 10px;
    border-color: black;
    background-color: #58E3E7;
    width: 80px;
    height: 30px; 
}

#title {
	font-size: 45px;
}

#title2 {
	font-size: 55px;
}