
#link {
  text-transform: uppercase;
  margin: 2px;
  font-weight: 200;
  background: rgba(255, 255, 255, 1);
  border: none;
}

#link:hover {
  cursor: pointer;
  font-weight: 800;
  border-left: 2px solid #17822c;
}

#link:focus {outline:0;}

#box {
    padding: 20px;
    margin-bottom: 4px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 60px;
}

.tablink {
    background-color: #5A80EA;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}


#send1 {
    width: 50px;
    height: 30px; 
}

#send2 {
    width: 50px;
    height: 30px; 
}


.post {
    width:95%;
    border: 2px solid black;
    border-radius: 5px;
    padding:10px;
}


#chatbox {
  padding: 3px; 
  width: 100%;
  position: fixed; 
  bottom: 0; 
}

.left, .right 
{ clear: both; padding: 10px; border-radius: 5px; margin-bottom: 10px; max-width: 250px; word-wrap: break-word } 
.left { float: left; background-color: #26bdef; } 
.right { float:right; background-color: #2b76ef; }

#clicktochat {

    border-color: black;
    background-color: #58E3E7;
    width: 30%;
    height: 50px; 
    border-radius: 5px;
    font-size: 15px;
    margin-top:40%;
    margin-left: 40%;
}

#clicktochat2 {

    border-color: black;
    background-color: #58E3E7;
    width: 15%;
    height: 50px; 
    border-radius: 5px;
    font-size: 15px;
    margin-left: 16%;
}

#poster {
  margin:5px;
  font-size: 22px;
}

#postcontent {
  margin:5px;
  font-size: 14 px;
}

#postnews {
  display: inline-block;
  border-radius:8px;
  width:70%;
  margin-left:15%;
 
  border: 7px solid #bfbfbf;
  padding: 15px;
}

#tagstext {
  width: 50%;
}

#text {
  width: 30%;
  height:30px;
  font-size:15px;
}

#messages {
  height:650px;
  overflow: auto;
}

.search {
  margin-left: 30%;
}

#sessiontags {
  width:50%;
}

#searchbutton {
    border-radius: 10px;
    border-color: black;
    background-color: #58E3E7;
    width: 60px;
    height: 30px; 
    font-size:13px;
    margin-left:5px;
    margin-right:5px;
}

#postbutton {
    border-radius: 10px;
    border-color: black;
    background-color: #58E3E7;
    width: 45px;
    height: 35px; 
    font-size:13px;
    margin-left:5px;
    margin-right:5px;
}

.btn-secondary {
    display: block;
    text-align: center;
    background: #ed2553;
    border-radius: 3px;
    box-shadow: 0 15px 20px -8px rgb(240, 75, 113);
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}


